<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Base_eia117" connectionString="Persist Security Info=False;User ID=AF_EIA117;Password=AF_EIA117;Initial Catalog=GEN_AF_EIA117;Data Source=VM117-BDD"/>
  </connectionStrings>
</configuration>